<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <connectionStrings>
    <add name="MyMakeConnectionString" connectionString="Data source=103.21.58.192;initial catalog=mymakeoverDB;persist security info=True;user id=mymake1;password=S3@software$" />
    <add name="hclWebConnectionString" connectionString="Data Source=103.21.58.192; Initial Catalog=meppediaDB1; user id=praveen; password=mep@S3#1" />
    <add name="meppediaDB1ConnectionString" connectionString="Data Source=103.21.58.192; Initial Catalog=meppediaDB1; user id=praveen; password=mep@S3#1"
      providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>